body
{
	background-color: black;
}

.banner
{
	text-align: center;
	width: 100%;
	height: 100%;
}

.type
{
	background-color: #ce3333;
	color: #ddc375;
	text-align: center;
	width: 90%;
	height: 90%;
	margin: auto;
}

.content
{
	text-align: center;
	background-color: #ce3333;
	width: auto;
	height: 90%;
	margin: auto;
}

.char1
{
	text-align: left;
	background-color: #ce3333;
	width: 50%;
	height: 90%;
	float: left;
}

.char2
{
	text-align: right;
	background-color: #ce3333;
	width: 50%;
	height: 90%;
	float: right;
}

nav
{
	margin: auto;
}

.music
{
	background-color: #ce3333;
	color: #ddc375;
}

#fact
{
	text-align: center;
	color: #5fc454;
}

#chartdiv
{
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}